@model DndDev.Domain.Book.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-signin">

    <h2>Create Book</h2>

    <br />

    <div class="form-horizontal">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <!-- Book Title -->
            <div class="control-group">
                <label class="control-label">Title</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Title)
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.Title)</span>
                </div>
            </div>

            <!-- Book Publisher -->
            <div class="control-group">
                <label class="control-label">Publisher</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Publisher)
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.Publisher)</span>
                </div>
            </div>
            
            <!-- Publication Date -->
            <div class="control-group">
                <label class="control-label">Publication Date</label>
                <div class="controls">
                    @Html.EditorFor(model => model.PublicationDate)
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.PublicationDate)</span>
                </div>
            </div>
            
            <!-- ISBN 10 -->
            <div class="control-group">
                <label class="control-label">ISBN 10</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Isbn10)
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.Isbn10)</span>
                </div>
            </div>
            
            <!-- ISBN 13 -->
            <div class="control-group">
                <label class="control-label">ISBN 13</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Isbn13)
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.Isbn13)</span>
                </div>
            </div>
            
            <!-- Edition -->
            <div class="control-group">
                <label class="control-label">Edition</label>
                <div class="controls">
                    @Html.EditorFor(model => model.Edition)
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.Edition)</span>
                </div>
            </div>

            <p>
                <input type="submit" value="Create" class="btn btn-inverse" />
            </p>
        }

    </div>

</div>
