@model IEnumerable<DungeonResource.Components.Domain.Spell.Spell>

@{
    ViewBag.Title = "Dungeon Resource";
}

<div class="form-signin">

    <h2>@ViewBag.Title</h2>

    <h3>Manage All Your Spells With Ease</h3>

    <p>
        With SpellBook You Can Easily Research All the Spells Available
        to You for Dungeons and Dragons. Search for technical details for that hard to
        find spell and make it out of the Dungeon Alive
    </p>

    <br />

    <div class="panel-group" id="accordion">

        @foreach (var someClass in @Model.SelectMany(p => p.SpellLevels).Select(p => p.SpellClass).OrderBy(x => x).Distinct())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@(someClass.Replace(" ", ""))">@someClass</a>
                    </h4>
                </div>

                <div id="collapse-@(someClass.Replace(" ", ""))" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Spell Name</th>
                                    <th>Range</th>
                                    <th>Spell Resistance</th>
                                    <th>Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(p => p.SpellLevels.Exists(r => r.SpellClass == someClass)).OrderBy(p => p.Name))
                                {
                                    <tr>
                                        <td>@Html.ActionLink(item.Name, "Details", new { ID = item.Id })</td>
                                        <td>@item.Range</td>
                                        <td>@(item.SpellResistance ? "Yes" : "No")</td>
                                        <td>@item.SpellLevels[0].Level</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        @if (Request.IsAuthenticated)
        {
            <br />
            <a href="@Url.Action("Create")" class="btn btn-default btn-lg btn-block">Add Spell</a>
        }

    </div>

</div>
