@model DndDev.Model.SpellOptions

@{
    ViewBag.Title = "Create";
}

<h2>Create A New Spell</h2>

<h4>Name</h4>
<input type="text" name="NameText" id="NameText" value="">

<h4>Class</h4>
<input type="text" name="ClassText" id="ClassText" value="">

<h4>Description</h4>
<textarea cols="40" rows="8" name="DescriptionTextarea" id="textarea"></textarea>


<h4>Attributes</h4>
<fieldset data-role="controlgroup" data-type="horizontal">
    <legend></legend>
    <input type="checkbox" name="checkbox-6" id="checkbox-6">
    <label for="checkbox-6">Spell Resistance</label>
    <input type="checkbox" name="checkbox-7" id="checkbox-7">
    <label for="checkbox-7">Saving Throw</label>
</fieldset>

<h4>Target</h4>
<input type="text" name="TargetText" id="TargetText" value="">

<h4>Casting Time</h4>
<input type="text" name="CastingTimeText" id="CastingTimeText" value="">

<h4>Range</h4>
<fieldset data-role="controlgroup">
    <legend></legend>

    @for (int x = 0; x < Model.SpellRange.Count(); x++)
    {
        <input type="radio" name="SpellRange-choice-1" id="SpellRange-choice-@x" value="@x" @(x == 0 ? "checked='checked'" : "")>
        <label for="SpellRange-choice-@x">@Model.SpellRange[x].ToString()</label>       
    }

</fieldset>

<h4>Spell Component</h4>
<fieldset data-role="controlgroup">
    <legend></legend>

    @for (int x = 0; x < Model.SpellComponent.Count(); x++)
    {
        <input type="radio" name="SpellComponent-choice-1" id="SpellComponent-choice-@x" value="@x" @(x == 0 ? "checked='checked'" : "")>
        <label for="SpellComponent-choice-@x">@Model.SpellComponent[x].ToString()</label>       
    }

</fieldset>

<h4>School</h4>
<input type="text" name="SchoolText" id="SchoolText" value="">

<h4>Spell Component</h4>
<fieldset data-role="controlgroup">
    <legend></legend>

    @for (int x = 0; x < Model.SpellType.Count(); x++)
    {
        <input type="radio" name="SpellType-choice-1" id="SpellType-choice-@x" value="@x" @(x == 0 ? "checked='checked'" : "")>
        <label for="SpellType-choice-@x">@Model.SpellType[x].ToString()</label>       
    }

</fieldset>


<h4>Duration</h4>
<input type="text" name="DurationText" id="DurationText" value="">

<br />
<input type="submit" value="Add Spell" data-theme="b" />

@Html.ActionLink("Add Spell", "Create", new DndDev.Repository.Spell
{ 
    Name="Some Lame Spell",
    Description="An Even Lamer Description",
    
})
