@model DndDev.Models.CreateSpellViewModel

@{
    ViewBag.Title = "Create";
}

<style>
    ui-respon {
        width: 100%;
    }
</style>

<h2>Create A New Spell</h2>

<strong>Name</strong>
<input type="text" id="NameTextbox">

<table  data-role="table" 
        id="ClassLevelTable" 
        class="table-stripe ui-responsive">
    <thead>
        <tr class="ui-bar-d">
            <th>Class</th>
            <th>Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr class="ui-bar-d">
            <td>
                <select id="ClassDropdown">
                    <option value="Bard">Bard</option>
                    <option value="Cleric">Cleric</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Wizard">Wizard</option>
                </select>
            </td>
            <td>
                <input id="LevelTextBox" type="number" name="ClassText" id="ClassText" value="1">
            </td>
            <td>
                <a href="#" id="AddClassLevelButton" data-role="button" data-theme="b" data-mini="true" data-icon="check">Add</a>
            </td>
        </tr>
    </tfoot>
</table>

<p>
    Description
    <textarea cols="40" rows="8" id="DescriptionTextarea"></textarea>
</p>

<h4>Attributes</h4>
<fieldset data-role="controlgroup" data-type="horizontal">
    <legend></legend>
    <input type="checkbox" id="SpellResistanceCheckbox">
    <label for="SpellResistanceCheckbox">Spell Resistance</label>
    <input type="checkbox" id="SavingThrowCheckBox">
    <label for="SavingThrowCheckBox">Saving Throw</label>
</fieldset>

<h4>Target</h4>
<input type="text" id="TargetTextbox" value="">

<h4>Casting Time</h4>
<input type="text" id="CastingTimeTextbox" value="">

<h4>Range</h4>
<fieldset data-role="controlgroup">
    <legend></legend>

@*    @for (int x = 0; x < Model.SpellRange.Count(); x++)
    {
        <input type="radio" name="SpellRangeRadioButton" id="SpellRange-choice-@x" value="@x" @(x == 0 ? "checked='checked'" : "")>
        <label for="SpellRange-choice-@x">@Model.SpellRange[x].ToString()</label>       
    }*@

</fieldset>

<h4>Spell Component</h4>
<fieldset data-role="controlgroup">
    <legend></legend>

@*    @for (int x = 0; x < Model.SpellComponent.Count(); x++)
    {
        <input type="radio" name="SpellComponentRadioButton" id="SpellComponent-choice-@x" value="@x" @(x == 0 ? "checked='checked'" : "")>
        <label for="SpellComponent-choice-@x">@Model.SpellComponent[x].ToString()</label>       
    }*@

</fieldset>

<h4>School</h4>
<input type="text" name="SchoolText" id="SchoolTextbox" value="">

<h4>Spell Type</h4>
<fieldset data-role="controlgroup">
    <legend></legend>

@*    @for (int x = 0; x < Model.SpellType.Count(); x++)
    {
        <input type="radio" name="SpellTypeRadioButton" id="SpellType-choice-@x" value="@x" @(x == 0 ? "checked='checked'" : "")>
        <label for="SpellType-choice-@x">@Model.SpellType[x].ToString()</label>       
    }*@

</fieldset>


<h4>Duration</h4>
<input type="text" name="DurationTextbox" id="DurationTextbox" value="">

<br />
<a href="#" id="CreateSpellButton" data-role="button" data-theme="b" data-icon="check">Add Spell</a>

@Html.ActionLink("Add Spell", "Create", new DndDev.Repository.Spell
{ 
    Name="Some Lame Spell",
    Description="An Even Lamer Description",
    
})


<script type="text/javascript">
    $(document).ready(function () {

        // Add Support for Appending Rows to the the Class Level Table
        $('#AddClassLevelButton').click(function () {

            var ClassName = $("#ClassDropdown option:selected").text();
            var Level = $("#LevelTextBox").val();

            var DeleteButton = '<a href="#" class="RemoveClassLevelButton ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-icon-left ui-btn-up-b" data-role="button" data-mini="true" data-icon="delete" data-theme="b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"><span class="ui-btn-inner"><span class="ui-btn-text">Remove</span><span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span></span></a>';

            var ClassLevelRow = '<tr>' +
                        '<td>' + ClassName + '</td>' +
                        '<td>' + Level  + '</td>' +
                        '<td>'+ DeleteButton +'</td>' +
                    '</tr>'

            $('#ClassLevelTable tbody').append(ClassLevelRow);


            // Add Support for Removing Rows from the Table
            $(".RemoveClassLevelButton").on("click", function (e) {
                $(this).closest('tr').remove();
            });
        });


        $('#CreateSpellButton').click(function () {

            var spellName = $("#NameTextbox").val();
            var spellDescription = $("#DescriptionTextarea").val();

            var spellResistance = $("#SpellResistanceCheckbox").is(":checked");
            var spellSavingThrow = $("#SavingThrowCheckBox").is(":checked");

            var spellTarget = $("#TargetTextbox").val();
            var spellCastingTime = $("#CastingTimeTextbox").val();

            var spellRange = $("input:radio[name=SpellRangeRadioButton]:checked").val();
            var spellComponent = $("input:radio[name=SpellRangeRadioButton]:checked").val();

            var spellSchool = $("#SchoolTextbox").val();

            var spellType = $("input:radio[name=SpellTypeRadioButton]:checked").val();

            var spellDuration = $("#DurationTextbox").val();

            var detailsString = "Name: " + spellName + "\n" +
                                "Description: " + spellDescription + "\n" +
                                "Resistance: " + SpellResistance + "\n" +
                                "Saving Throw: " + SavingThrow + "\n" +
                                "Target: " + Target + "\n" +
                                "Casting Time: " + CastingTime + "\n" +
                                "Range: " + SpellRange + "\n" +
                                "Range: " + SpellComponent + "\n" +
                                "School: " + School + "\n" +
                                "SpellType: " + SpellType + "\n" +
                                "Duration: " + Duration;

            alert(detailsString);

            /@*/var actionUrl = '@Url.Action("Create", "Spell", new DndDev.Repository.Spell { SavingThrow })';*@

            $.ajax({
                url: '@Url.Action("Create", "Spell")',
                type: 'POST',
                data: {
                    Name: spellName,
                    Description: spellDescription,
                    SpellResistance: spellResistance,
                    SavingThrow: spellSavingThrow,

                },
                success: function (result) {

                }
            });
        });

    });
</script>
